@charset 'UTF-8';
body{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: start;
    position: absolute;
    left: 200px;
}

#adicionar{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    height: 200px;
    width: 250px;
    background-color: blueviolet;
}

.conteudo div{
    background-color: antiquewhite;
    padding: 55px;
    width: 250px;
    border-bottom: 1px solid black;
}

.conteudo h3{
    text-align: center;
}

